@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

a {
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Ubuntu-Regular", sans-serif;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

/*FORM DIV CONTAINER*/
.lightbox.open {
  align-content: center;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.lightbox-create-edit {
  z-index: 99;
}

.lightbox {
  background: rgba(255, 255, 255, 0.95);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
  z-index: 0;
}

/*NEW ISSUE*/
.lightbox .title {
  text-align: center;
}

.lightbox h2 {
  font-size: 1.7rem;
  font-family: Ubuntu-Regular, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.4rem;
  font-family: Ubuntu-Regular, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e3440;
  font-weight: 400;
  line-height: 1.5;
}

.new_issue_status select {
  background-color: #999;
  color: #ffffff;

  font-weight: bold;
  border: 2px solid #999;
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
  margin-bottom: 0.1em;
}

.selectors_issues {
  display: flex;
  justify-content: space-between;
}

.new_issue_bolitas select {
  background-color: #e6f7ff;
  color: #008aa8;
  font-weight: bold;
  border: 2px solid #83eede;
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
  margin-bottom: 0.1em;
}

.new-issue-subject,
.new-issue-description {
  background: #fff;
  border: 2px solid #d8dee9;
  border-radius: 3px;
  color: #4c566a;
  margin: 0;
  padding: 0.3rem 1rem 0.3rem 0.95rem;
  width: 100%;
  font-family: inherit;
  line-height: normal;
}

input[type="text"],
textarea {
  background: #fff;
  border: 2px solid #d8dee9;
  border-radius: 3px;
  color: #4c566a;
  margin: 0;
  padding: 0.3rem 1rem 0.3rem 0.95rem;
  width: 100%;
}

.new-issue-description {
  min-height: 13rem;
  resize: vertical;
  overflow: auto;
}

.new-issue-submit {
  background-color: #008aa8;
  color: #fff;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  align-items: center;
  background-color: #83eede;
  border: 0;
  border-radius: 4px;
  color: #2e3440;
  display: inline-flex;
  justify-content: center;
  line-height: initial;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font: inherit;
  margin: 0;
  overflow: visible;
  margin: 12px;
  margin-left: 0;
  margin-right: 0;
}

/*New Issue Page*/

.new-issue-title-container {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

.close-issue {
  float: right;
  text-align: right;
  font-size: 45px;
  font-weight: 400;
}

.new-issue-subject {
  margin-bottom: 10px;
  padding: 5px;
  width: 420px;
}

.new-issue-submit:hover {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #008aa8;
  border: none;
  font: inherit;
}

.lightbox-set-due-date .date {
  margin: 2rem 0 1rem;
}

.due-date {
  background: #fff;
  border: 2px solid #d8dee9;
  border-radius: 3px;
  color: #4c566a;
  margin: 0;
  padding: 0.3rem 1rem 0.3rem 0.95rem;
  width: 100%;
}

.lb-select-user-form .lb-select-user-list {
  max-height: 28.5rem;
  overflow-y: auto;
  border-bottom: 1px solid #a9aabc;
}

.lb-user-list .user-list-item {
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #e2e3e9;
  display: flex;
  padding: 0.25rem 0;
  vertical-align: middle;
}

.lb-user-list .user-list-avatar {
  flex-basis: 3rem;
  margin-right: 0.25rem;
  max-height: 3rem;
  max-width: 3rem;
}

.lb-user-list .user-list-avatar img {
  border-radius: 50%;
  width: 100%;
}

.lb-user-list .user-list-name {
  font-family: Ubuntu-Regular, Arial, Helvetica, sans-serif;
  color: #434456;
  flex-grow: 1;
  margin-left: 0.5rem;
}

.add-watcher-submit:hover {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #008aa8;
  border: none;
  font: inherit;
}

.remove-watcher-submit:hover {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #ff3333;
  border: none;
  font: inherit;
}

.add-watcher-submit,
.remove-watcher-submit {
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  align-items: center;
  border: 0;
  border-radius: 4px;
  color: #2e3440;
  display: inline-flex;
  justify-content: center;
  line-height: initial;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font: inherit;
  margin: 0;
  overflow: visible;
  width: 100px;
  margin: 12px;
  margin-left: 2em;
  margin-right: 0;
}

.add-watcher-submit {
  background-color: #83eede;
}

.remove-watcher-submit {
  background-color: #ff8080;
}
