.comments-container{
  display: block;
  margin-top: 30px
}


.comments-header{
    background: #f1f1f4;
    display: flex;
    flex-direction: row;
}
.comments-header-text{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.comments-new-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height:40px;
  width: 100%;
  margin-bottom: 2rem;
}


.comments-write-container {
  border-color:transparent;
  overflow: auto;
  border: 1px solid;
  flex: 1;
}
.comments-write-text{
  border: 1px solid;
  flex: 1;
  color: rgb(0,0,0);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}


.comments-submit-container{
  display: flex;
  justify-content: center;
  width: 40px;
  margin-left: 10px;
  height: 100%;
}

.comments-submit-button{
  color: #2e3440;
  text-align: center;
  background-color: #83eede;
  border: none;
  height: 100%;
}
.comments-submit-button:hover{
  color: white;
  background-color: #008AA8;
}

/*comments/_comment.html.erb*/
.comment-container{
  font-family: 'Ubuntu-Regular', sans-serif;
  align-items: flex-start;
  border-bottom: 1px solid #e2e3e9;
  display: flex;
  padding: 2rem 0;
}

.comment-main{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.comment-avatar {
  flex-shrink: 0;
  margin-right: 1.5rem;
  width: 60px;
}
.comment-data {
  margin-bottom: 1rem;
}

.comment-creator {
  color: #25a28c;
  margin-right: 0.5rem;
}

.comment-date {
  color: #70728f;
}

.comment-text-container{
  margin-right: 0.5rem;
  padding: 0.25rem;
}

/*COMMENTS AND ACTIVITIES SHARED*/
.comments-activitties-buttons{
  width: 100%;
  background: #f1f1f4;
  flex-direction: row;
  margin-top: 4rem;
}

.comments-button,
.activities-button {
  font-size: 100%;
  display: inline-block;
  padding: 0.75rem 1rem;
  border-bottom: 3px solid transparent;
  color: rgb(0,0,0);
  transition: all .1s linear;
}

.comments-button:hover,
.activities-button:hover {
  color: #25a28c;
}

.button-active {
  border-bottom: 3px solid #434456;
  color: #434456;
}
